html, body {
	margin: 0;
	padding: 0;
}

header{
	width:100%;
	background:#3399FF;
	overflow:hidden;
}

.icono{
	width:70px;
	height:70px;
	position: relative;
	margin: 5px;
}

.opciones {
	list-style:none;
	display: inline;
}


.opciones li{
	float:right;
	font-family: 'Roboto', sans-serif;
}

.opciones li a{
	padding:10px 20px;
	display:block;
	color:white;
	text-decoration:none;
}

.navegacion{
	background:#151515;
	overflow:hidden;
	list-style:none;
	width: 100%;
	position: relative;
	margin-bottom: 	0px;
}
.navegacion li {
	float:left;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;

}

.navegacion li a{
	padding:10px 20px;
	display:block;
	color:white;
	text-decoration:none;
}

.searchbar{
	font-family: 'Oswald', sans-serif;
	position: relative;
	font-size:25px;
	height: 30px;
	margin-left:10%; 
}

.category{
	font-family: 'Oswald', sans-serif;
	font-size:20px;
	height: 30px; 
}

.botonLupa{
	width:35px;
	height:30px;
}

.lupa{
	width:100%;
	height:100%;
}


/* ---------------------------  CSS FORMULARIO EN SÍ ----------------------- */

.infoUsuario {
	font-family: 'Oswald', sans-serif;
}

.infoUsuario h1, h2 {
	line-height: 0.60;
	text-align: center;
	font-size: 30px;
}

.infoUsuario img {
	width:200px;
    padding: 0px 250px;
	float: left;
	clear:left;
	border-radius: 50%;
	/* Responsive design */
	max-width: 100%;
    height: auto;


}

.infoUsuario .textoDerFoto {
	float:center;
	padding: 50px 30px;
}

.infoUsuario .misDominios h3, h4 {
	line-height: 1.0;
	font-size: 25px;

}


/* Set a style for all buttons */
.infoUsuario .misDominios .nuevoDomPerfil {
    background-color: #57B6E2;
    color: white;
    padding: 10px 20px;
    margin: 30px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    display: inline-block;
	text-decoration:none;
}

.infoUsuario .editarPerfil, .infoUsuario .borrarUsuario {
    background-color: #57B6E2;
    color: white;
    padding: 10px 20px;
    margin: 30px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    display: inline-block;
	text-decoration:none;

}

.infoUsuario .misDominios, .infoUsuario .editarPerfil, .infoUsuario .borrarUsuario {

	text-align: center;
}


/* ---------------------------------------------------- */
footer {
	background:#3399FF;
	font-family: 'Roboto', sans-serif;
	color:black;
	clear:both;
	padding:10px 0px 20px 0px;
	text-align:center;
}

footer nav ul{
	list-style:none;
}

.footerbox{
	text-align:center;
	float:left; /*Se posicionan en fila, sirve para crear diseños con columnas. */
}
.footerbox nav ul{
	list-style:none;
}

.footerbox nav ul a{
	color:#3399FF;
	padding:0px 60px;
	display:block;
	color:white;
	text-decoration:none;
	clear:both;
}

.trampa{
	color:#3399FF;
	clear:both
}
